<form method="post" style="display: flex; flex-direction: column; align-items: flex-start;">
  <% @poll.options.each do |option| %>
    <div style="display: flex;flex-direction: row;margin-bottom: 10px;">
      <label style="flex: 1" for="option_<%= option.id %>"><%= option.name %></label>
      <input style="width: 50px;flex: 0;margin-left: 10px;" type="number" name="option_ranks[<%= option.id %>]" id="option_<%= option.id %>" min="1">
    </div>
  <% end %>

  <input type="submit" value="Vote">
</form>