<div id="<%= dom_id poll %>">
  <% if action_name != "show" %>
    <%= link_to "#{poll.title}", poll, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit', edit_poll_path(poll), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>

  <ul>
    <% @poll.options.each do |option| %>
      <li><%= option.name %></li>
    <% end %>
  </ul>
</div>
